<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div th:replace="~{fragments/layout.html :: toastContainer}"></div>

<article>
    <div id="centered">

        <h1>Creating a new employee</h1>

        <section>
            <form method="post"
                  th:action="@{/account/register}"
                  th:object="${user}"
                  class="form">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" th:field="*{name}" class="form-control" />
                    <small class="text-danger" th:errors="*{name}"></small>
                </div>

                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input id="surname" th:field="*{surname}" class="form-control" />
                    <small class="text-danger" th:errors="*{surname}"></small>
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" th:field="*{email}" class="form-control" type="email" />
                    <small class="text-danger" th:errors="*{email}"></small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" th:field="*{password}" class="form-control"/>
                    <small class="text-danger" th:errors="*{password}"></small>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Password confirmation</label>
                    <input id="confirm-password" name="password" type="password" th:field="*{confirmPassword}" class="form-control"/>
                    <small class="text-danger" th:errors="*{confirmPassword}"></small>
                </div>
                <div class="form-group">
                    <label for="userRole">Role:</label>
                    <select id="userRole" th:field="*{userRole}" class="form-control">
                        <option th:each="role : ${T(com.ictdemy.springHotelManager.models.enums.UserRole).values()}"
                                th:value="${role.name}"
                                th:text="${role.displayName}">Role</option>
                    </select>
                    <small class="text-danger" th:errors="*{userRole}"></small>
                </div>

                <div class="form-group form-actions">
                    <a class="button button-primary" th:href="@{/account/index}">Back</a>
                    <button type="submit" class="button button-save">Register</button>
                </div>

            </form>
        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<div th:replace="~{fragments/layout.html :: toastScript}"></div>
</body>
</html>